<!-- <p>roles works!</p>
<p>{{firstName}}</p>
<p>{{currentDate}}</p>
<p>{{version}}</p>

<ul>
    <li *ngFor="let role of roleList">
        {{role.role}}
    </li>
</ul>
<div>
    <select>
        <option *ngFor="let role of roleList" [value]="role.roleId">{{role.role}}</option>
    </select>
</div> -->
<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Role Id</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let role of roleList; let index = index">
                    <td>{{index + 1}}</td>
                    <td>{{role.role}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>