<div class="row">
    @if(!isLoaded){
    <app-loader></app-loader>
    }@else{
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Role Id</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let role of roleList; let index = index">
                    <td>{{index + 1}}</td>
                    <td>{{role.role}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    }
</div>